html, body {
        
	width: 100%;

	padding: 0;
	margin: 0;

	color: #ffffff;
	/*background-color: #000000;*/

	font-family: 'Montserrat', sans-serif;
}

/*.....................................................TITLES.....*/
.title {
	font-weight: bold;
	font-size: 74px;

	letter-spacing: 0;
}

.subtitle {
	font-weight: bold;
	font-size: 32px;

	letter-spacing: 0;
}

#cursor {
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s
	transition: 0.1s;
}

/*.....................................................MENU.....*/
.menu-item {
	color: #666666;

	padding: 6px 0;

	font-weight: bold;
	font-size: 32px;

	letter-spacing: 0;
	
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
	
}

.menu-item-selected {
	color: #ffffff;
	padding-left: 20px;
}
.menu-item-selected::before{
	content: "> ";
}

/*.....................................................PARALLAX.....*/
.parallaxContainer {
	width: 100%;

	position: fixed;
	left: 0;
	top: 0;

	z-index: -1;
	transform: none;
}

.parallaxContainer img {
	width: 100%;
	height: auto;
}
